@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, p {
    margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    position: relative;
}

input, button {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.container {
    max-width: 950px;
    margin: 0 auto;  
}

/* Intro styling */

.intro {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.75), hsla(0, 0%, 0%, 0.75)), url(/images/background.jpg);
    background-position: center;
    background-size: 100%;
}

.intro-box {
    min-height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: hsl(0, 0%, 100%);
    padding: 0rem 2rem;
}

.intro h1 {
    font-size: clamp(1rem, 1vw + 2rem, 4rem);
    white-space: nowrap;
}

.intro a {
    font-size: clamp(1rem, 1vw + .5rem, 1.2rem);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #fff;
    z-index: 2;
    white-space: nowrap;
}

.intro a:hover, .intro h4:active, .intro h4:focus {
    opacity: .75;
}

.intro a span{
    font-size: 1rem;
    line-height: .95;
    font-weight: 800;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -10px;
    z-index: 1;
    text-align: center;
    background: rgba(255, 255, 255, 0.753);
    color: #333;
    border-radius: 50%;
}

/* Search input */

.search-box {
    position: absolute;
    top: 28vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
}

.search-input {
    padding-left: 0;
    padding-right: 10rem;
    border-left: none;
}

.search-input:focus {
    outline: none;
}

.logo-box {
    background: #fff;
    border-right: none;
    padding: 13px;
    padding-right:10px;
    border-radius: 6px 0px 0px 6px;
    cursor: pointer;
}

.search-logo:active {
    transform: scale(.5);
    transition: all 150ms ease-in-out;
}

.search-btn {
    display: flex;
    gap: .3rem;
    background: #fff;
    border-left: none;
    cursor: pointer;
    border-radius: 0px 6px 6px 0px;
}

.search-btn:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* Movies-placeholder */

.movies-placeholder {
    padding: 3rem 1rem;
}

.error-text {
    width: 500px;
    margin: 10rem auto;
    text-align: center;
    color: #DFDDDD;
}

.movie-card {
    display: flex;
    max-width: 750px;
    margin: 0 auto;
    align-items: center;
    padding: 2rem 0rem;
    gap: 2rem;
    border-bottom: 1px solid #E5E7EB;
}

.movie-card img {
    max-width: 20%;
}

.placeholder-box {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #DFDDDD;
    gap: 1rem;
}

.placeholder-box a {
    color: #333;
    cursor:pointer;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.placeholder-box a:hover {
    opacity: .75;
} 

.placeholder-box a img{
    color: #333;
    display: inline; 
    margin-right: .5rem;
}


.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.title h5 {
    margin: 0;
}

.movie-description h4 {
    position: relative;
    margin-left: 1rem;
}

.movie-description h4 img {
    position: absolute;
    top: 4px;
    left: -18px;
}

.movie-description h5, .movie-description h4{
    display: inline;
    font-weight: 400;
    margin-right: 2rem;
    margin-top: 0;
}

.movie-description h4:hover{
    opacity: .75;
    cursor: pointer;
}

.movie-description p {
    margin-top: .5rem;
    max-width: 28rem;
    font-weight: 400;
    color: #6B7280;
}